@model HelloDocker.HomeViewModel

<html>
    <head>
        <title>Clumsy Bird</title>
        <link rel="stylesheet" type="text/css" href="addtohomescreen.css">
        <script src="js/addtohomescreen.min.js"></script>
    </head>
    <body>
        <h1 align="center">Clumpsy Bird</h1>
        <h2 align="center">Hosted by Docker and served by .NET Core / Kestrel</h2>
 
        <div id="fb-root"></div>
        <script>
            addToHomescreen();
        </script>

        <!-- Canvas placeholder -->
        <div id="screen" align="center"></div>

        <!-- melonJS Library -->
        <script type="text/javascript" src="js/melonJS-2.1.1-min.js"></script>
        <script type="text/javascript" src="js/debugPanel.js" ></script>
        <script type="text/javascript" src="build/clumsy-min.js" ></script>
        <!-- Bootstrap & Mobile optimization tricks -->
        <script type="text/javascript">
        window.onReady(function onReady() {

            game.onload();
            // Mobile browser hacks
            if (me.device.isMobile && !navigator.isCocoonJS) {
            // Prevent the webview from moving on a swipe
            window.document.addEventListener("touchmove", function (e) {
                e.preventDefault();
                window.scroll(0, 0);
                return false;
            }, false);

            // Scroll away mobile GUI
            (function () {
                window.scrollTo(0, 1);
                me.video.onresize(null);
            }).defer();

            me.event.subscribe(me.event.WINDOW_ONRESIZE, function (e) {
                window.scrollTo(0, 1);
            });
            }
        });
        </script>

        <h4 align="center">@("Served by machine: " + Model.MachineName)</h4>
        <h5 align="center">@(Model.GeneratedDateTime)</h4>
    </body>
</html>